@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: indigo;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  font-size: medium;
  background-color: #171717;
}

.weightNone {
  flex-grow: var(--weight-none);
}

.weightSmaller {
  flex-grow: var(--weight-smaller);
}

.weightSmall {
  flex-grow: var(--weight-small);
}

.weightMedium {
  flex-grow: var(--weight-medium);
}

.weightLarge {
  flex-grow: var(--weight-large);
}

.weightLarger {
  flex-grow: var(--weight-larger);
}